* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-top,
.sidebar-center,
.sidebar-bottom {
  width: 80%;
  padding: 10px;
  border-bottom: 1px solid #4b4b4b;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.sidebar-bottom {
  border: none;
  justify-content: center;
}

.logo {
  font-size: 25px;
  padding-left: 13px;
  margin-right: 10px;
  cursor: pointer;
}

.brand {
  font-weight: bold;
  cursor: pointer;
}

.list {
  padding: 0;
  list-style-type: none;
}

.list-item {
  margin-bottom: 10px;
  font-size: 1.1rem;
  padding: 10px;
  cursor: pointer;
}

.list-item > span {
  margin-left: 4px;
  font-size: 18px;
}

.list-item:hover,
.list-item:active {
  background-color: #374151;
  color: white;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  margin-right: 15px;
  cursor: pointer;
}

.dark {
  background-color: #111827;
}

.night {
  background-color: #312e81;
}

.light {
  background-color: #f3f4f6;
}
/* 12mins */
